# Python bytecode/cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Test/cache/tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment files
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.env
.env
.env
/.cache
Cartazes/imperdivel/À_PRIMEIRA_VISTA.jpg
Cartazes/imperdivel/UM_QUINTETO_DE_MORTE.jpg
Cartazes/imperdivel/IBÉRIA.jpg
Cartazes/imperdivel/DOG_ART.jpg
.env
.env
Cartazes/imperdivel/SR_ENGENHEIRO__ALEGADAMENTE_UM_MUSICAL.jpg
Cartazes/imperdivel/QUANTOS_QUERES.jpg
Cartazes/imperdivel/PIZZA_MAN.jpg
Cartazes/imperdivel/O_PILOTO_AMERICANO.jpg
Cartazes/imperdivel/O_PARAÍSO_SÃO_OS_OUTROS.jpg
Cartazes/imperdivel/O_FIGURANTE.jpg
Cartazes/imperdivel/O_25_DE_ABRIL_FOI_AQUI.jpg
Cartazes/imperdivel/NOITES_DE_IMPRO.jpg
Cartazes/imperdivel/JANTAR_DE_IDIOTAS.jpg
Cartazes/imperdivel/COMBATE_DE_NEGRO_E_DE_CÃES.jpg
Cartazes/imperdivel/BRANCAS_MEMÓRIAS.jpg
Cartazes/imperdivel/A_GAIVOTA.jpg
Cartazes/bol/OS_JUGOSLAVOS_de_Juan_Mayorga.jpg
Cartazes/bol/O_Poeta_Maldito_-_Em_memória_de_Ary_dos_Santos.jpg
Cartazes/bol/ContoContigo_Os_Anjos_Nus_-_Peripécia_Teatro__LCAA.jpg
Cartazes/bol/BALAS_E_PURPURINAS_-_70_ANOS_DA_EUROVISÃO.jpg
Cartazes/bol/A_Ilha_da_Grande_Solidão.jpg
